@import url("https://fonts.cdnfonts.com/css/cyberjunkies");

:root{
    --red: #FF3130;
    --background-color: #1F1E31;
    --font-title: calc(1.5rem + 5vw);
    --font-subtitle: calc(0.9rem + 2vw);
    --font-description: calc(0.5rem + 0.9vw);
    --font-text: calc(0.3rem + 0.9vw);
}

@font-face {
    font-family: "Cyberjunkies";
    src: url(../assets/fonts/Cyberjunkies.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

textarea, input{
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;

}
textarea:focus, input:focus{
    outline: none;
    border-bottom: 5px solid var(--red);
    transition: 0.3s;

}

ul,
ol,
li {
    list-style: none;
}

body {
    min-height: 100vh;
    color: #fff;
    background: var(--background-color);
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.title{
    padding-left:10px ;
    font-weight: 900;
    font-size: var(--font-text);
}